@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.counter {
	text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 400%;
    margin-top: 15%;
}

span {
	display: block;
	text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 200%;
}

.daily {
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    margin-top: 15%;
    margin-bottom: 10%;
}

.daily a button {
    text-align: center;
    font-size: 150%;
    margin-top: 5%;
    color: #fff;
    font-family: Montserrat;
    cursor: pointer;
    background-color: #2b2b2b;
    padding: 7px 12px 7px 12px;
    outline: none;
    border: none;
    border-radius: 3px;
    transition-duration: 0.5s;
}

.daily a button:hover {
    background-color: #ffffff;
    color: #2b2b2b;
    transition-duration: 0.5s;
}

.daily_animation {
    animation: Jump 0.5s;
}

.back_animation {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes Jump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}