@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 7%;
	text-align: center;
	width: 90%;
	max-width: 500px;
}

/*.dashboard hr {
    color: #ff0000
}*/

.dashboard h2 {
	margin-top: 20px;
    margin-bottom: 10%;
	color: #fff;
	font-family: Montserrat;
    /*animation: float 6s ease-in-out infinite;*/
}

.dashboard a button {
	width: 80%;
	cursor: pointer;
	background-color: #2b2b2b;
	color: white;
	font-family: Montserrat;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}

.dashboard a button:hover {
	background-color: white;
	color: #2b2b2b;
	transition-duration: 0.5s;
}

 .user__avatar {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 5%;
}

.dashboard .infor1 {
	margin-top: -8px;
    margin-bottom: 12%;
	color: #ffffff;
	font-family: Montserrat;
	cursor: pointer;
    /*animation: float 6s ease-in-out infinite;*/
}

.dashboard .user-status {
    width: 104%;
    font-family: Montserrat;
    color: #ffffff;
    text-align: left;
}

.dashboard .bal #value {
    font-family: Montserrat;
    color: #7e6ae6;
}

.dashboard .bal #value2 {
    font-family: Montserrat;
    color: #7e6ae6;
}


.dashboard .danger_button {
	width: 80%;
	cursor: pointer;
	background-color: #c22f2f;
	color: white;
	font-family: Montserrat;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}

.dashboard .danger_button:hover {
	background-color: #820000;
	color: #ffffff;
	transition-duration: 0.5s;
}