<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../../ejs/head/defaut.ejs') -%>
    
    <link rel="stylesheet" href="/styles/dashboard/daily.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>karinaTwo | Daily</title>
</head>

<body>
    <br/>
    <br/>
    <div class="daily">
        <h1 class="counter" data-target="<%= amount %>"></h1>
        <span>Recompensa Diária!</span>
        <br/>
        <br/>
        <h2>parabéns por ganhar <%= amount %> panther-coins!</h2>
        <div id="back_button">
            <a href="<%= link %>"><button><i class="fa fa-reply" aria-hidden="true"></i> Voltar</button></a>
        </div>
    </div>
    
    <script src="../../scripts/screamMobile.js"></script>
    <script src="../../scripts/counterUP.js"></script>
</body>

</html>