<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../ejs/head/defaut.ejs') -%>
    
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>karinaTwo | diretrizes</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img
                src="/images/icons/icon_2.png"
                alt="logo"></a>

        <nav>
            <ul class="nav__links">
                <li><a href="/support">Suporte</a></li>
                <li><a href="/about">Sobre</a></li>
            </ul>
        </nav>
        <a class="cta" href="/login">Login</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/support">Suporte</a>
            <a href="/about">Sobre</a>
            <a href="/login">Login</a>
        </div>
    </div>

<div class="about">
        <h1><i class="fas fa-robot"></i> diretrizes</h1>
        <%- include('../../ejs/guidelines.ejs') -%>
    </div>

    <%- include('../../ejs/footer.ejs') -%>
    <script src="../../scripts/screamMobile.js"></script>
</body>

</html>