<p>os desenvolvedores da karina querem deixar o discord um lugar melhor, e para isso a karinaTwo foi criada!</p>

<p>para que os desenvolvedores realizar esse sonho, existem as diretrizes da karina, para que apenas as pessoas que desejam que ela consiga chegar em seus sonhos possam seguir e se divertir com ela.</p>

<p><strong>observação</strong>: monitoramos algumas ativamente conforme esta escrito na <strong>política de privacidade</strong> e não somos responsáveis por atividades ou conteúdo publicados; no entanto, esperamos que os proprietários dos servidores, mods e administradores sigam essas diretrizes em seus servidores e poderemos intervir caso elas não sejam seguidas.</p>

<p>caso administradores de servidores propositalmente não punam usuários que estão ativamente quebrando as diretrizes, o servidor poderá perder o privilégio de utilizar a karina</p>

<hr/>

<h1>e legal fazer isso:</h1>

<p>Seguir as diretrizes do <a hrefh="https://discordapp.com/guidelines">discord</a>!.</p>

<p>utilizar as funcionalidades da karina para te entreter, te ajudar em seus servidores e muito mais.</p>

<p>Recomendar a karina para seus amigos.</p>

<hr/>

<h1>as ações a seguir não serão toleradas:</h1>

<p>desrespeitar as diretrizes da plataforma que você está
<br/> &nbsp • (caso você encontre alguma pessoa que está desrespeitando as diretrizes da plataforma, reporte para a equipe da plataforma e, caso aplicável, reporte para a equipe da karinaTwo.)</p>

<p>espalhar mentiras ("fake news") sobre a karina ou relacionados. continuar a espalhar mentiras mesmo após ter provado que você está errado significa que você é alguém babaca.</p>

<p>Tentar atacar, prejudicar ou derrubar a karina.</p>

<p>tentar conseguir vantagens burlando restrições impostas pela karina ou pelos desenvolvedores. se você precisa fazer algo fora do comum para conseguir vantagens contra outros usuários (Exemplo: Criar mais contas para conseguir recompensas), então é proibido.</p>

<p>ofender, xingar ou sexualizar a karina. 
<br/> &nbsp •(não, espalhar ódio gratuito não é uma "crítica construtiva" e você tentar disfarçar os seus xingamentos como uma "crítica construtiva" não é desculpa para não ser punido. Se você quer fazer uma crítica, seja construtivo e diga o que deveria ser melhorado na karina em vez de ofender apenas para ofender. Críticas construtivas ajudam a melhorar a karina e assim todos saem ganhando, ódio gratuito não.) 
<br/> &nbsp • (não puniremos caso for um xingamento "leve" (exemplo: "idiota") mas iremos punir caso seja um xingamento "pesado" (exemplo: "puta", "gringe", "vagabunda"). Também iremos punir caso o usuário tenha ofendido várias vezes em seguida (já que isto torna os xingamentos em apenas ódio gratuito).) 
<br/> &nbsp • (como apenas punimos se o usuário for reportado, você não terá problemas caso ofenda ou xingue no seu servidor privado que só tem você e a karina. Mas nós iremos punir caso você fique xingando em locais públicos.) 
<br/> &nbsp • (o motivo de punir tais atitudes é para evitar que outros usuários fiquem criando opiniões baseado em mentiras e xingamentos sobre ela. E aliás, se você não gosta dela, então para que você precisa ter o privilégio de usá-la?!)</p>

<p>Utilizar funcionalidades da karina para quebrar as diretrizes. 
  •  (existem usuários que não sabem que é possível fazer tais coisas na karina, e, por isso, colocam a culpa na karina quando veem ela dizendo coisas erradas em vez de culpar os usuários que fazem isto. Devido a isto, forçar a karina responder ofensas, conteúdo inapropriado ou algo que quebra as diretrizes da comunidade é proibido.)</p>

<p>Tentar se passar pela karina ou se passar por alguém da equipe dela. 
<br/> &nbsp • (Trocar o seu nome e avatar para os mesmos que a karina utiliza.) 
<br/> &nbsp • (Criar bots que possuem o mesmo nome e avatar que a karina utiliza.)
<br/> &nbsp • (Inventar ou espalhar mentiras dizendo que você ou o seu bot tem alguma relação com a karina ou com a equipe dela. <br/> &nbsp • • (Se passar pela karina apenas por "brincadeira" não é desculpa para não ser punido.))
<br/> &nbsp • (caso um servidor tenha um bot que está se passando pela karina, o dono do servidor será banido até que ele prove quem adicionou o bot no servidor.)</p>

<p>tentar evadir/burlar punições. Caso você tente fazer isto, você será punido novamente, sem chance de ser desbanido.</p>

<p>plagiar a karina. Você pode se inspirar em funcionalidades dela, mas copiar quase identicamente ela é proibido.</p>

<hr/>

<h1>que irá acontecer se eu quebrar as regras?</h1>

<h2>caso você quebre algumas das diretrizes, você poderá receber uma ou mais punições da lista.</h2>

<p>&nbsp • Ser banido dos servidores de suporte da karina.</p>

<p>&nbsp • perder seus privilégios de uso da karina em seu servidor e em outros servidores.</p>
<hr/>

<p>o nível da punição e quais punições você irá receber será baseado no que você fez para ser punido. quebrar regras não graves sem o intuito de prejudicar a karina te garante punições baixas que podem ser revertidas apenas pedindo desculpas, mas quebrar regra intencionalmente com o intuito de prejudicar a karina te garante punições mais elevadas, sem chance de perdão.</p>

<p>caso você tenha se arrependido e o motivo da punição não for algo tão grave, converse com alguém da equipe da karina para ver se você pode ser desbanido. Mas lembre-se: Nós não somos obrigados a te desbanir, você quebrou as diretrizes porque você quis. Argumentar que "eu não sabia delas" não é uma desculpa, já que tudo que está nas diretrizes são regras que qualquer um que teve uma formação decente sabe que é errado.</p>